*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

main {
    height: calc(8em * 8 - 1.5em);
}

.grid-cards,
.grid-item {
    transform-style: preserve-3d;
}

.grid-cards {
    --scrollGrid: 0;
    display: grid;
    grid-template: repeat(8, 8em) / repeat(5, 14em);
    grid-gap: 1.5em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotateX(45deg) rotateZ(45deg) translateY(var(--scrollGrid));
    transform-origin: 50% 0;
}

.grid-item {
    display: block;
    position: relative;
}

.card-img {
    background-image: url(https://i.postimg.cc/Vspg0Nn2/business-card-backgrounds.png);
    background-size: 200% 200%;
    padding: 0.75em;
    position: absolute;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
}