*,
*:before,
*:after {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow-x: hidden;
    background-color: #3d3d3d;
}

main {
    display: block;
    margin: auto;
    position: relative;
    height: calc(8em * 36 - 1.5em);
}

.header,
.footer {
    color: #ffffff;
}

.header-title h1,
.footer-title h1 {
    text-align: center;
}

.grid-cards,
.card {
    transform-style: preserve-3d;
}

.grid-cards {
    display: grid;
    grid-template: repeat(46, 8em) / 14em;
    grid-gap: 1.5em;
    position: relative;
    top: 50%;
    left: 50%;
    transform-origin: 20% 0;
}

.main {
    --scrollGrid: 0;
    transform: translateX(-50%) rotateX(60deg) rotateZ(45deg) translateY(var(--scrollGrid));
}

.card {
    display: block;
    position: relative;
}

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contents h2 {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.card:hover .card-item,
.card:focus .card-item {
    transform: translateZ(calc(2em*1.5));
}

.card-item {
    background-image: url(../img/1.jpg);
    background-size: 200% 200%;
    color: #000;
    padding: 0.75em;
    position: absolute;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 576px) {
    main {
        height: calc(8em * 18 - 1.5em);
    }
    .grid-cards {
        grid-template: repeat(23, 8em) / repeat(2, 14em);
    }
}

@media screen and (min-width: 768px) {
    main {
        height: calc(8em * 12 - 1.5em);
    }
    .grid-cards {
        grid-template: repeat(16, 8em) / repeat(3, 14em);
    }
}

@media screen and (min-width: 992px) {
    main {
        height: calc(8em * 13 - 1.5em);
    }
    .grid-cards {
        grid-template: repeat(12, 8em) / repeat(4, 14em);
    }
}

@media screen and (min-width: 1200px) {
    main {
        height: calc(8em * 14 - 1.5em);
    }
    .grid-cards {
        grid-template: repeat(10, 8em) / repeat(5, 14em);
    }
}