*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

main {
    height: calc(8em * 8 - 0.5em);
}

.header-title h1,
.footer-title h1 {
    text-align: center;
}

.grid-cards,
.grid-item {
    transform-style: preserve-3d;
}

.grid-cards {
    display: grid;
    grid-template: repeat(15, 8em) / repeat(5, 14em);
    grid-gap: 1.5em;
    position: fixed;
    top: 0%;
    left: 40%;
    transform-origin: 50% 0;
}

.main {
    --scrollGrid: 0;
    transform: translateX(-50%) rotateX(60deg) rotateZ(45deg) translateY(var(--scrollGrid));
}

.grid-item {
    display: block;
    position: relative;
    transition: all 0.3s;
}

.card-img {
    background-image: url(https://i.postimg.cc/Vspg0Nn2/business-card-backgrounds.png);
    background-size: 200% 200%;
    padding: 1em;
    position: absolute;
    width: 100%;
    height: 100%;
}

.grid-item:hover,
.card-img,
.grid-item:focus,
.card-img {
    transform: translateZ(calc(0.75em*4));
}